@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0px;
}

.item:hover {
  transform: translateY(-5px);
}

.item {
  transition:
    transform 0.4s ease-in-out,
    -webkit-transform 0.4s ease-in-out;
  margin-top: 10px;
}

.radix-themes {
  --cursor-button: pointer !important;
  --cursor-checkbox: pointer !important;
  --cursor-disabled: default !important;
  --cursor-link: pointer !important;
  --cursor-menu-item: pointer !important;
  --cursor-radio: pointer !important;
  --cursor-slider-thumb: grab !important;
  --cursor-slider-thumb-active: grabbing !important;
  --cursor-switch: pointer !important;
  --default-font-family: 'S-CoreDream-3Light' !important;
  --heading-font-family: 'GmarketSansMedium' !important;
}

.gradient-from-bottom:after {
  content: "";
  background:linear-gradient(#0000 0%,#00000018 50%, #0000002c 70%, #0005 80%, #000a 90%, #000000e6 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}